<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--<add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />-->
        <!--<add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"  />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>